<a href="https://colab.research.google.com/github/Darshan-20310597/Python-Prac/blob/main/Basic_Coding_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")

Hello

In [ ]:
def sleep_in(weekday,vacation):
  if not weekday or vacation:
    print("Sleep")
    return True;
  else:
    print("Get-up")
    return False;

In [ ]:
sleep_in(True,False)

# Condition is weekend and vacation and you can sleep

Getup

False

In [ ]:
def starts_with(str):
  str = str.strip()  # Removes blanks 
  if str.startswith("not"): # startswith
    return str;
  else:
    return "not" + " " + str;

In [ ]:
starts_with(" not Darshan")

'not Darshan'

In [3]:
def missing_char(str,n):
  str1 = str[0:n]   #Basic of matrix [:n] first n values without the nth value
  str2 = str[n+1:]
  return str1+str2;

In [4]:
missing_char("kitten", 2)

'kiten'

SWAPPING The last 2 char with the first two

In [17]:
def front_back(str):
  print(len(str)) 
  val = str[len(str)-2:];
  val = val[::-1]
  val2 = str[0:2]
  val3 = str[2:len(str)-2]
  print(val+val3+val2);

In [18]:
front_back('kitten')

6
nettki

In [ ]:
def front3(str):
  stringvalue = str[0:3]
  repeat = stringvalue*3;
  return repeat;

front3("chocolate")

'chochocho'

#DICT

In [30]:
my_dict = dict()
my_dict_1 = my_dict
my_dict_2 = {}


print(type(my_dict) == dict)
print(type(my_dict) == type(my_dict_1))
print(len(my_dict_2))
print(type(my_dict))

True
True
0
<class 'dict'>

In [45]:
my_dict = {1: 'one', 2: 'two', 3: 'three'}
print(my_dict)

print(my_dict.values())
print(my_dict.keys())
for k in my_dict:
  print(my_dict[k])


print("Enter only Key Values:" , my_dict[3])
print("Enter only Key Values:" , my_dict[1])
#print("Enter only Key Values:" , my_dict[4]) # gives error as 0 key is not there . even for 4
#print("Enter only Key Values:" , my_dict[0])

{1: 'one', 2: 'two', 3: 'three'}
dict_values(['one', 'two', 'three'])
dict_keys([1, 2, 3])
one
two
three
Enter only Key Values: three
Enter only Key Values: one

In [55]:
#.get method 
for k in my_dict:
  print(my_dict.get(k, None))
  #print(my_dict[k])

one
two
three

Changing values or updating values

In [60]:
my_dict[1] = "Sun Rise"
my_dict[2] = "Sun set"
print(my_dict)

{1: 'Sun Rise', 2: 'Sun set', 3: 'three'}

In [66]:
# Deleting 
# pop ()
my_dict = {1: 'one', 2: 'two', 3: 'three'}
my_dict.pop(1)
print(my_dict)

{2: 'two', 3: 'three'}

In [67]:
print (my_dict)

{2: 'two', 3: 'three'}

In [71]:
my_dict = {1: 'one', 2: 'two', 3: 'three', 4: 'one', 5: 'six'}
print(my_dict)

{1: 'one', 2: 'two', 3: 'three', 4: 'one', 5: 'six'}

In [74]:
for k in my_dict.values():
  print(k.upper())

ONE
TWO
THREE
ONE
SIX

In [88]:
# Delete last two values from a dict
value = len(my_dict)
print(value)
value =value-1;
for k in range(1,value):
  print(my_dict[k])

5
one
two
three

In [94]:
# Revere iteration of dict
for k in sorted(my_dict.items(), reverse=True):
  print(k)

(5, 'six')
(4, 'one')
(3, 'three')
(2, 'two')
(1, 'one')

In [104]:
d = {'banana': 1, 'apple':2, 'pear': 3, 'orange': 4 , 'avacado': 4}
new_d = OrderedDict(sorted(d.items())) # always orders it based on keys 
new_d_reverse = OrderedDict(sorted(d.items(), reverse=True))
print(new_d)
print(new_d_reverse)

OrderedDict([('apple', 2), ('avacado', 4), ('banana', 1), ('orange', 4), ('pear', 3)])
OrderedDict([('pear', 3), ('orange', 4), ('banana', 1), ('avacado', 4), ('apple', 2)])

MERGEING DICT

In [110]:
dict1 = {'a':1, 'b':2}
dict2 = {'c':3, 'd':4}

dict3 = {**dict1, **dict2}
dict3 
# for python 3.9 and above#
# dict3 = dict1 | dict2

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [112]:
# Checking for key 
print('a' in dict3)

True

In [120]:
dict4 = {1:'a',2:'b',3:'c',(1,2,3):'d'}
print((1,2,3) in dict4)

True

In [129]:
# Compare 2 Dict 

dict5  = {x: x+1 for x in range(1,10)}
dict6 = {i : i+1 for i in range(5,15)}
print (dict5)
print(dict6)


dict7 = {key:value for key in range(0,5) for value in range(1,6)}
print(dict7)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}
{5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15}
{0: 5, 1: 5, 2: 5, 3: 5, 4: 5}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [161]:
# drop empty or None values in the dict
dict8 = {1:"apple",2:"mango",3:"pear",4:None,5:"",6:"banana"}
print(dict8)

dict8 = {key:value for (key,value) in dict8.items() if value is not "" and value is not None }
print(dict8)

{1: 'apple', 2: 'mango', 3: 'pear', 4: None, 5: '', 6: 'banana'}
{1: 'apple', 2: 'mango', 3: 'pear', 6: 'banana'}

In [167]:
# Python3 code to demonstrate working of  
# Remove duplicate values in dictionary 
# Using dictionary comprehension 
  
# initializing dictionary 
test_dict = { 'gfg' : 10, 'is' : 15, 'best' : 20, 'for' : 10, 'geeks' : 20} 
  
# printing original dictionary 
print("The original dictionary is : " , test_dict) 


temp = {val : key for key, val in test_dict.items()} 
print(temp)
res = {val : key for key, val in temp.items()} 

print(res)

The original dictionary is :  {'gfg': 10, 'is': 15, 'best': 20, 'for': 10, 'geeks': 20}
{10: 'for', 15: 'is', 20: 'geeks'}
{'for': 10, 'is': 15, 'geeks': 20}

In [171]:
# lowest or first values to be preserved 

temp = []
res = dict()

for k,v in test_dict.items():
  if v not in temp:
    temp.append(v)
    res[k]=v  

print(res)

{'gfg': 10, 'is': 15, 'best': 20}

In [172]:
#Filter a Dictionary Based on Values

heights = {'John': 175, 'Jane': 150, 'Jim': 155, 'Matt': 170}


height_above_152 = {key:value for (key,value) in heights.items() if value> 152}
print(height_above_152)

{'John': 175, 'Jim': 155, 'Matt': 170}

In [183]:
hp = {
    'title': "Harry Potter and the Philosopher's Stone",
    'author': "J.K. Rowling",
    'publication': '1988-06-26'
}


print(hp['title'])

print("***************")

for values in hp.values():
  print (values)

print("***************")
ages = {
    'kevin': 12,
    'marcus': 9,
    'evan': 31,
    'nik': 31
}


new_dict = {key:('odd' if value % 2 == 1 else 'even') for (key,value) in ages.items() }
print (new_dict)

Harry Potter and the Philosopher's Stone
***************
Harry Potter and the Philosopher's Stone
J.K. Rowling
1988-06-26
***************
{'kevin': 'even', 'marcus': 'odd', 'evan': 'odd', 'nik': 'odd'}

In [189]:
### Dictionary Comprehension Example: Using the Enumerate Function


names = ['Harry', 'Hermione', 'Ron', 'Neville', 'Luna']
index_1  = {k:v for (k, v) in enumerate(names)}
print("index_1",index_1)


index = {k:v for (v,k) in enumerate(names)}
print(index)

index_1 {0: 'Harry', 1: 'Hermione', 2: 'Ron', 3: 'Neville', 4: 'Luna'}
{'Harry': 0, 'Hermione': 1, 'Ron': 2, 'Neville': 3, 'Luna': 4}

In [190]:
ages = {
    'kevin': 12,
    'marcus': 9,
    'evan': 31,
    'nik': 31
}
ages = {key:ages[key] for key in ages.keys() - {'marcus', 'nik'}}
print(ages)

{'kevin': 12, 'evan': 31}